/*
Theme Name: Eleos
Theme URI: http://demo.vegatheme.com/eleos
Author: OceanThemes
Author URI: http://oceanthemes.net/
Description: Eleos is a Modern and Creative premium WordPress Theme. Design Theme is made in a beautiful style. It is suitable for Personal Portfolio, Creative Agency, Designer Portfolio, Illustrator Portfolio, Photographer Portfolio and more.Theme has a universal design, it thought every detail and animation effect. Its just as easy to customize to fit your needs, replace images and texts.
Version: 1.3.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: eleos
Domain Path: /languages
Tags: light

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Redux Theme is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/

/*--------------------------------------------------------------
[Table of contents]
#Reset CSS
#PAGE LOAD
#Navigation
#Basic Elements
#Scroll back to top
#Slider
#About
#Team
#separate sections
#Work
#Portfolio
#Single Projects
#Logo Carousel
#News
#Shop
#Contact
#footer
#Media Queries

-------------------------------------------------------------------*/

/* #Reset CSS */
/**** Start Reset CSS For WordPress ****/
::selection {
  color: #fff;
  background: #CFA144;
}
::-moz-selection {
  color: #fff;
  background: #CFA144;
}
.alignnone {max-width: 100%;height: auto;}
.wp-caption.alignnone img {max-width: 100%;height: auto;}
.align-center {
  width: 100%;
  text-align: center;
}
.align-right {text-align:right;}
.align-left {text-align: left;}
.fleft {float: left;}
.fright {float: right;}
a, a:hover, a:active, a:focus {
     outline: 0;
}
table,
th,
td {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

table {
  border-collapse: separate;
  border-spacing: 0;
  border-width: 1px 0 0 1px;
  margin-bottom: 24px;
  width: 100%;
}

caption,
th,
td {
  font-weight: normal;
  text-align: left;
  padding: 10px 20px;
}

th {
  border-width: 0 1px 1px 0;
  font-weight: bold;
}

td {
  border-width: 0 1px 1px 0;
}
dl {
  margin-bottom: 24px;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: 24px;
}
/* Alignment */

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

blockquote.alignleft,
figure.wp-caption.alignleft,
img.alignleft {
  margin: 7px 24px 7px 0;
}

.wp-caption.alignleft {
  margin: 7px 14px 7px 0;
  text-align: left;
}

blockquote.alignright,
figure.wp-caption.alignright,
img.alignright {
  margin: 7px 0 7px 24px;
}
blockquote cite, p cite {display: inline-block;margin: 10px 0px;font-style: italic;color: #101010;font-weight: bold;}
.wp-caption.alignright {
  margin: 7px 0 7px 14px;
  text-align: right;
}

blockquote.aligncenter,
img.aligncenter,
.wp-caption.aligncenter {
  margin-top: 7px;
  margin-bottom: 7px;
}
.wp-caption {
  margin-bottom: 24px;
  max-width: 100%;
  color: #767676;
}
.gallery-caption {}
.bypostauthor{}
.wp-caption-text {
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;
  font-size: 12px;
  font-style: italic;
  line-height: 1.5;
  margin: 9px 0;
}

div.wp-caption .wp-caption-text {
  padding-right: 10px;
}

div.wp-caption.alignright img[class*="wp-image-"],
div.wp-caption.alignright .wp-caption-text {
  padding-left: 10px;
  padding-right: 0;
}

.wp-smiley {
  border: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}
pre, code {
    background-color: #F9F9F9;
    border-color: rgba(180,180,180,1);
    border-style: solid;
    border-width: 0px 0px 0px 4px;
    display: block;
    font-family: 'Open Sans', sans-serif;font-weight: 300;
    font-size: 14px;
    padding: 10px;
    margin-top:20px;
    margin-left:20px;
    margin-right:20px;
    overflow: auto;
}
.textwidget select {
  max-width: 100%;
}
.textwidget img {height: auto;}
/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
}
img.size-full,
img.size-large,
img.wp-post-image {
  height: auto;
  max-width: 100%;
  width: auto !important;
}
/**** End Reset CSS For WordPress ****/




/* #PAGE LOAD */
body.royal_preloader {
    background: none;
    visibility: hidden;
}
#royal_preloader {
    font-family: Arial;
    font-size: 12px;
    visibility: visible;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: auto;
    margin: 0;
    z-index: 9999999999999999999999999999999999999;
}
#royal_preloader.royal_preloader_number:before,
#royal_preloader.royal_preloader_progress:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: -webkit-radial-gradient(circle, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.01));
    background-image: -moz-radial-gradient(circle, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.01));
    background-image: -ms-radial-gradient(circle, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.01));
    background-image: -o-radial-gradient(circle, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.01));
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.01));
}
#royal_preloader.complete {
    opacity: 0;
    -webkit-transition: opacity 0.2s linear 0.5s;
       -moz-transition: opacity 0.2s linear 0.5s;
        -ms-transition: opacity 0.2s linear 0.5s;
         -o-transition: opacity 0.2s linear 0.5s;
            transition: opacity 0.2s linear 0.5s;
}
#royal_preloader.royal_preloader_line {
    height: 2px;
    bottom: auto;
}

/* Number Mode */

#royal_preloader.royal_preloader_number .royal_preloader_percentage {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 20px;
    color: #FFFFFF;
    font-family: Impact, Arial;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-align: center;
    -webkit-transition: all 0.3s linear 0.5s;
       -moz-transition: all 0.3s linear 0.5s;
        -ms-transition: all 0.3s linear 0.5s;
         -o-transition: all 0.3s linear 0.5s;
            transition: all 0.3s linear 0.5s;
}
#royal_preloader.royal_preloader_number .royal_preloader_percentage:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 50%;
}
#royal_preloader.royal_preloader_number .royal_preloader_percentage:after {
    content: '';
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    border: 4px solid transparent;
    border-left-color: #FFFFFF;
    border-radius: 50%;
    -webkit-animation: rotate 0.8s linear infinite;
       -moz-animation: rotate 0.8s linear infinite;
        -ms-animation: rotate 0.8s linear infinite;
         -o-animation: rotate 0.8s linear infinite;
            animation: rotate 0.8s linear infinite;
}

/* Line Mode */

#royal_preloader.royal_preloader_line .royal_preloader_loader {
    position: absolute;
    height: 100%;
    left: 0;
}
#royal_preloader.royal_preloader_line .royal_preloader_peg {
    position: absolute;
    right: 0;
    height: 100%;
    width: 100px;
    opacity: 0.5;
}

/* Text Mode */

#royal_preloader.royal_preloader_text .royal_preloader_loader {
    color: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
	opacity:.2;
    left: 50%;
	font-family: 'Montserrat', sans-serif;
	font-weight:700;
    height: 80px;
    line-height: 80px;
    margin: auto;
    letter-spacing: -4px;
    font-size: 55px;
    white-space: nowrap;
}
#royal_preloader.royal_preloader_text .royal_preloader_loader div {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0%;
    background-color: #000000;
    opacity: 0.7;
    filter: alpha(opacity=70);
}

/* Logo Mode */

#royal_preloader.royal_preloader_logo .royal_preloader_loader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: 0px;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 5px;
}
#royal_preloader.royal_preloader_logo .royal_preloader_loader div {
    position: absolute;
    bottom: 0%;
    left: 0px;
    right: 0px;
    height: 100%;
    opacity: 0.7;
    filter: alpha(opacity=70);
}
#royal_preloader.royal_preloader_logo .royal_preloader_percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 40px;
    line-height: 40px;
    margin: 0px;
    color: #072E77;
    text-align: center;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
}

/* Progress Mode */

#royal_preloader.royal_preloader_progress .royal_preloader_percentage {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    color: #212121;
	margin-top:10px;
	letter-spacing:4px;
	font-weight:600;
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
    font-size: 12px;
    text-align: center;
}
#royal_preloader.royal_preloader_progress .royal_preloader_loader {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 20%;
    height: 2px;
    margin: -10px auto auto auto;
    background-color: #ccc;
}
#royal_preloader.royal_preloader_progress .royal_preloader_meter {
    width: 0;
    height: 100%;
    margin: auto;
    padding: 0;
}


@-webkit-keyframes rotate {
    0% { -webkit-transform: rotate(0);}
    100% { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes rotate {
    0% { -moz-transform: rotate(0); }
    100% { -moz-transform: rotate(360deg); }
}
@-ms-keyframes rotate {
    0% { -ms-transform: rotate(0); }
    100% { -ms-transform: rotate(360deg); }
}
@-o-keyframes rotate {
    0% { -o-transform: rotate(0); }
    100% { -o-transform: rotate(360deg); }
}
@keyframes rotate {
    0% { transform: rotate(0); }
    100% { transform: rotate(360deg); }
}


/* #Navigation
================================================== */

#menu-wrap{
    position: fixed;
	padding-bottom:10px;
	width:100%;
	z-index:5000;
	top:0;
	left:0;
}
.logged-in.admin-bar #menu-wrap{top: 32px;}
#menu-wrap .container .columns  { 
	margin-top: 10px;
	margin-bottom: 10px;
}
.menu-back{
    opacity: 0.8;
	background: rgba(247,247,247,.8);
	-webkit-transition : all 0.3s ease-out;
	-moz-transition : all 0.3s ease-out;
	-o-transition :all 0.3s ease-out;
	transition : all 0.3s ease-out;
}


.cbp-af-header {
	-webkit-transition : all 0.3s ease-out;
	-moz-transition : all 0.3s ease-out;
	-o-transition :all 0.3s ease-out;
	transition : all 0.3s ease-out;
}

.cbp-af-header.cbp-af-header-shrink {
    opacity: 0.95;
	background: rgba(247,247,247,.95);
	-webkit-transition : all 0.3s ease-out;
	-moz-transition : all 0.3s ease-out;
	-o-transition :all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.cbp-af-header.cbp-af-header-shrink .logo img{
	width:86px;
	height:16px;
	top:32px;
	background: no-repeat center center;
	-webkit-transition : all 0.3s ease-out;
	-moz-transition : all 0.3s ease-out;
	-o-transition :all 0.3s ease-out;
	transition : all 0.3s ease-out;
}

.cbp-af-header.cbp-af-header-shrink ul.slimmenu {
	margin-top:1px;
	margin-bottom:0;
	-webkit-transition : all 0.3s ease-out;
	-moz-transition : all 0.3s ease-out;
	-o-transition :all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.cbp-af-header.cbp-af-header-shrink ul.slimmenu li:first-child {
	background:none;
}
.cbp-af-header.cbp-af-header-shrink ul.slimmenu li ul li:first-child { 
	background:none; 
}
ul.slimmenu li ul li a {
    color: #000;
}
ul.slimmenu li ul li a:hover {
}
ul.slimmenu li ul li { 
	background:none;
	padding-left:0; 
    display: block;
}
	
ul.slimmenu li ul {
	background:rgba(255,255,255,.95);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
}






.logo img{
	position:absolute;
	width:134px;
	height:25px;
	z-index:10000;
	left:40px;
	top:50px;
	background: no-repeat center center;
	-webkit-transition : all 0.3s ease-out;
	-moz-transition : all 0.3s ease-out;
	-o-transition :all 0.3s ease-out;
	transition : all 0.3s ease-out;
}



.menu-collapser {
    position: relative;
    width: 100%;
    height: 48px;
    line-height: 48px;
    font-size: 16px;
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
	-webkit-transition : all 0.3s ease-out;
	-moz-transition : all 0.3s ease-out;
	-o-transition :all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.collapse-button {
    position: absolute;
    right: 8px;
    top: 60%;
    width: 40px;
    background-image: linear-gradient(to bottom, #151515, #040404);
    background-repeat: repeat-x;
    border-style: solid;
    border-width: 1px;
    color: #000;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.075);
    padding: 7px 10px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
    font-size: 14px;
    text-align: center;

    transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}
.collapse-button:hover, .collapse-button:focus {
    background-image: none;
    background-color: #040404;
    color: #FFF;
}
.collapse-button .icon-bar {
    background-color: #fff;
    border-radius: 1px 1px 1px 1px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    display: block;
    height: 2px;
    width: 18px;
    margin: 2px 0;
}

ul.slimmenu {
	padding-top:10px;
	padding-right:10px;
	text-align:right;
	margin-top:23px;
	margin-bottom:20px;
	-webkit-transition : all 0.3s ease-out;
	-moz-transition : all 0.3s ease-out;
	-o-transition :all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
ul.slimmenu li {
    position: relative;
    display: inline-block;
	background:url('./images/line.png') 0 14px no-repeat;
	background-size:15px 10px;
	padding-left:20px;
	-webkit-transition : all 0.3s ease-out;
	-moz-transition : all 0.3s ease-out;
	-o-transition :all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
ul.slimmenu > li {}
ul.slimmenu > li:first-child { border-left: 0 }
ul.slimmenu > li:last-child { margin-right: 0 }
ul.slimmenu li a {
    display: block;
    color: #111111;
    padding: 10px 0px;
	cursor:pointer;
    margin: 0px 12px;
	font-family: 'Open Sans', sans-serif;
	font-weight:700;
	text-transform:uppercase;
	letter-spacing:2px;
    border-bottom:1px solid rgba(0,0,0,0);
    font-size: 11px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear; 
}
ul.slimmenu li a:hover {
    text-decoration: none;
    border-bottom: 1px solid #cfa144;
}
ul.slimmenu li {
}
ul.slimmenu li:first-child {
	background:none;
}

ul.slimmenu li .sub-collapser {
    position: absolute;
    right: 0;
    top: 0;
    width: 48px;
    height: 100%;
    z-index: 999;
    cursor: pointer;
}
ul.slimmenu li .sub-collapser:before {
	display:none;
}
ul.slimmenu li .sub-collapser > i {
	display:none;
}
ul.slimmenu li ul {
    margin: 0;
    list-style-type: none;
}
ul.slimmenu li ul a{
    font-size:10px;
}
ul.slimmenu li ul li:first-child { 
	background:none; }
ul.slimmenu li ul li {
	background:none;
	padding-left:0; }
ul.slimmenu li > ul {
    display: none;
    position: absolute;
	text-align:left;
    left: 0;
    top: 100%;
    z-index: 999;
    width: 140%;
}
ul.slimmenu li > ul > li ul {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    z-index: 999;
    width: 100%;
}
ul.slimmenu.collapsed {
	padding:0;
	margin:0;
}
ul.slimmenu.collapsed li {
    display: block;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
ul.slimmenu.collapsed li a {
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}
ul.slimmenu.collapsed li .sub-collapser {
    height: 40px;
}
ul.slimmenu.collapsed li > ul {
    display: none;
    position: static;
}

/* #Basic Elements
================================================== */

.section {
	position:relative;
	width:100%;
}
.padding-top-bottom {
	padding-top:100px;
	padding-bottom:100px;
}
.padding-top {
	padding-top:100px;
}
.padding-bottom {
	padding-bottom:100px;
}
.padding-top-bottom-mid {
	padding-top:70px;
	padding-bottom:70px;
}
.padding-top-mid  {
	padding-top:70px;
}
.padding-bottom-mid  {
	padding-bottom:70px;
}
.padding-top-bottom-small {
	padding-top:40px;
	padding-bottom:40px;
}
.padding-top-small  {
	padding-top:40px;
}
.padding-bottom-small  {
	padding-bottom:40px;
}
.padding-top-big-bottom {
	padding-top:200px;
	padding-bottom:100px;
}
.background-color-white {
	background-color:#fff;
}
.background-color-white-trans {
	background-color:rgba(255,255,255,.8);
}
.background-color-grey {
	background-color:#fbfbfb;
}
.background-color-dark {
	background-color:#161616;
}
.background-color-black {
	background-color:#000000;
}
.full-height {
	height:100vh;
}


.section-title {
	position:relative;
	width:100%;
	margin-bottom:15px;
    text-align: center;
}
.section-title h2{
	padding-bottom:55px;
	letter-spacing:2px;
    margin-bottom: 0px;
}
.section-title h4{
	padding-bottom:30px;
	letter-spacing:2px;
    margin-bottom: 0px;
}
.section-title .shadow-title{
	position:absolute;
	width:100%;
	left:0;
	top:15px;
	color: #414141;
	opacity:.1;
	font-family: 'Montserrat', sans-serif;
	font-size: 100px;
	letter-spacing:-3px;
	font-weight:700;
	text-align:center;
}
.section-title h2:before,
.section-title h4:before {
	content:'';
	position:absolute;
	width:50px;
	height:3px;
	bottom:0;
	left:50%;
	margin-left:-25px;
}

/* #Scroll back to top
================================================== */

.scroll-to-top {
	position: fixed;
	text-align:center;
	font-family: 'FontAwesome';
	background:#212121;
	cursor: pointer;
	bottom: 20px;
	opacity:.5;
	border-radius:3px;
	right: 20px;
	width:40px;
	font-size:13px;
	color:#fff;
	line-height:40px;
	height: 40px;
	display: none;
	z-index: 9999;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear; 
}
.scroll-to-top:hover {
	opacity:1;
}

/* #Slider
================================================== */

#owl-top {
	position:relative;
	width:100%;
	margin:0 auto;
}
#owl-top .item{
	position:relative;
	width:100%;
	height:100vh;
	margin:0 auto;
	background-size:cover;
	background-position:center center;
	background-repeat:no-repeat;
	z-index:2;
}
#owl-top .item.top-image-1{
	background-image:url('./images/1.jpg');
}
#owl-top .item.top-image-2{
	background-image:url('./images/2.jpg');
}
#owl-top .item.top-image-3{
	background-image:url('./images/3.jpg');
}


#owl-top.owl-theme .owl-controls .owl-buttons .owl-prev{
	position:absolute;
	left:0;
	cursor: url(./images/arrow-left.png) 8 8, move !important;
}
#owl-top.owl-theme .owl-controls .owl-buttons .owl-next{
	position:absolute;
	right:0;
	cursor: url(./images/arrow-right.png) 8 8, move !important;
}
#owl-top.owl-theme .owl-controls .owl-buttons .owl-next,
#owl-top.owl-theme .owl-controls .owl-buttons .owl-prev{
	top:0;
	width:50%;
	height:100%;
	z-index:1;
	text-indent: 100%;
}
 
 
 .hero-top{
	position:absolute;
	top:50%;
	left:0;
	width:100%;
	z-index:100;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.hero-text{
	position:relative;
	width:100%;
} 
.hero-text.right h5,
.hero-text.right p{
	text-align:right;
}
.hero-text.left h5,
.hero-text.left p{
	text-align:left;
}
.hero-text h5{
	font-size:60px; 
	line-height:40px;
} 
.hero-text h5 span{
	font-size:160px; 
	opacity:.2;
	letter-spacing:-12px;
	text-transform:none;
} 
.hero-text p{
	font-size:14px; 
	line-height:22px;
	margin-top:70px;
	text-transform:uppercase;
	letter-spacing:5px;
	font-weight:600;
	color:#434343;
}  
.hero-text.left p:before{
	content:'';
	position:absolute;
	bottom:50px;
	left:0;
	width:60px;
	height:3px;
	z-index:2;
} 
.hero-text.right p:before{
	content:'';
	position:absolute;
	bottom:50px;
	right:0;
	width:60px;
	height:3px;
	z-index:2;
}
 

a.scroll-down-arrow{
	position:absolute;
	left:0;
	bottom:0;
	height:20%;
	width:100%;
	z-index:200;
	cursor: url(./images/arrow-down.png) 15 70, move !important;
} 
 
/* #About
================================================== */

.about-carousel-wrap{ 
	position:relative;
	width:100%;
	margin:0 auto;
	overflow:hidden;
	z-index:2;
} 
#sync1 .item {
	position: relative; 
	margin: 0 auto;
    width:100%;
    display: block;
	margin-top:60px;
}
#sync1 .item:after {
  content: '';
  display: block;
  clear: both;
}
#sync1 .item p{
	width:100%;
	max-width:900px;
	margin: 0 auto;
	text-align:center;
}
#sync1 .item p.text-padding{
	margin-bottom:15px;
}
#sync2 {
	position:absolute;
	width:100%;
	max-width:500px;
	top:0;
	left:50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}
#sync2 .item{
	width:100%;
	max-width:120px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	z-index:200;
	margin:0 auto;
	text-align:center;
	cursor:pointer;
	padding-bottom:12px;
	border-bottom:1px solid #212121;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
#sync2 .item h6{
	text-align:center;
	text-transform:none;
	font-weight:400;
	font-size:16px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
 
#sync1.owl-theme .owl-controls .owl-buttons .owl-prev{
	position:absolute;
	left:0;
	top:100%;
	margin-top:-24px;
	background:url('./images/arrow-left.png') no-repeat center center;
	background-size: 80px 24px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
#sync1.owl-theme .owl-controls .owl-buttons .owl-next{
	position:absolute;
	right:0;
	top:60px;
	background:url('./images/arrow-right.png') no-repeat center center;
	background-size: 80px 24px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
#sync1.owl-theme .owl-controls .owl-buttons .owl-next,
#sync1.owl-theme .owl-controls .owl-buttons .owl-prev{
	width:80px;
	height:24px;
	z-index:1;
	text-indent: 100%;
}

#sync1.owl-theme .owl-controls .owl-buttons .owl-prev:hover,
#sync1.owl-theme .owl-controls .owl-buttons .owl-next:hover{
	transform: scale(0.9);
}


/* #Team
================================================== */

.team-box-1{
	position:relative;
	width:100%;
	margin:0 auto;
	text-align:center;
	overflow:hidden;
}
.team-box-1 img{
	width:100%;
	display:block;
}
.team-box-1 .mask{
	position:absolute;
	z-index:2;
	top:0;
	width:100%;
	left:0;
	height:calc(100% - 76px);
	opacity:0;
	background:rgba(0,0,0,.7);
	-webkit-transition : all 0.3s ease-out;
	-moz-transition : all 0.3s ease-out;
	-o-transition :all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.team-box-1:hover .mask{
	opacity:1;
}
.team-box-1 ul{
	position:absolute;
	z-index:3;
	top:-30px;
	margin-top:-48px;
	width:100%;
	left:0;
	text-align:center;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transition : all 0.3s ease-out;
	-moz-transition : all 0.3s ease-out;
	-o-transition :all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.team-box-1 ul li{
	display:inline-block;
	text-align:center;
	margin-left:8px;
	margin-right:8px;
}
.team-box-1:hover ul{
	top:50%;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
.team-box-1 ul li a.social-icon .icons{
	font-family: 'FontAwesome';
	width:20px;
	height:20px;
	line-height:20px;
	font-size:16px;
	text-align:center;
	color:#fff;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear; 
}
.team-box-1 ul li a.social-icon:hover .fa-twitter{
	color:#55acef;
	opacity: 1;
}
.team-box-1 ul li a.social-icon:hover .fa-dribbble{
	color:#fe0084;
	opacity: 1;
}
.team-box-1 ul li a.social-icon:hover .fa-facebook{
	color:#3b5998;
	opacity: 1;
}
.team-box-1 ul li a.social-icon:hover .fa-linkedin{
	color:#007bb5;
	opacity: 1;
}
.team-box-1 ul li a.social-icon:hover .fa-vimeo{
	color:#aad450;
	opacity: 1;
}
.team-box-1 ul li a.social-icon:hover .icons{
	opacity: 0.6;
}
.team-box-1 h6{
	margin-top:30px;
	text-align:center;
	padding-bottom:5px;
}
.team-box-1 .subtext{
	text-align:center;
	color:#747474;
	font-style: italic;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	line-height:17px;
	letter-spacing:2px;
	font-weight:400;
}


/* #separate sections
================================================== */

.sep-1-background{
	background-size:cover;
	background-position:center center;
	background-repeat:no-repeat;
}
#owl-sep-1 {
	position:relative;
	width:100%;
	margin:0 auto;
	display:block;
}
#owl-sep-1 .item{
	position:relative;
	width:100%;
	margin-left:0 auto;
	z-index:2;
	display:block;
}
#owl-sep-1.owl-theme .owl-controls .owl-buttons .owl-prev{
	position:absolute;
	left:50px;
	top:100%;
	margin-top:-148px;
	background:url('./images/arrow-left.png') no-repeat center center;
	background-size: 80px 24px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
#owl-sep-1.owl-theme .owl-controls .owl-buttons .owl-next{
	position:absolute;
	right:50px;
	top:124px;
	background:url('./images/arrow-right.png') no-repeat center center;
	background-size: 80px 24px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
#owl-sep-1.owl-theme .owl-controls .owl-buttons .owl-next,
#owl-sep-1.owl-theme .owl-controls .owl-buttons .owl-prev{
	width:80px;
	height:24px;
	z-index:1;
	text-indent: 100%;
}

#owl-sep-1.owl-theme .owl-controls .owl-buttons .owl-prev:hover,
#owl-sep-1.owl-theme .owl-controls .owl-buttons .owl-next:hover{
	transform: scale(0.9);
}


.services{
	position:relative;
	width:100%;
	margin:0 auto;
	overflow:hidden;
	display:block;
	padding:50px 50px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.services .number{
	position:absolute;
	top:70px;
	left:0;
	text-align:left;
	font-size:180px; 
	opacity:.07;
	color: #414141;
	font-family: 'Montserrat', sans-serif;
	font-weight:700;
	font-style: italic;	
}
.services h6,
.services p{
	text-align:left;
}
.services h6{
	padding-bottom:20px;
}



.sep-2-background{
	background-image:url('../images/sep-2.jpg');
	background-size:cover;
	background-position:center center;
	background-repeat:no-repeat;
}
#owl-sep-2 {
	position:relative;
	width:100%;
	margin:0 auto;
	display:block;
}
#owl-sep-2 .item{
	position:relative;
	width:100%;
	margin-left:0 auto;
	z-index:2;
	display:block;
}
#owl-sep-2.owl-theme .owl-controls .owl-buttons .owl-prev{
	position:absolute;
	left:50px;
	top:100%;
	margin-top:-148px;
	background:url('./images/arrow-left.png') no-repeat center center;
	background-size: 80px 24px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
#owl-sep-2.owl-theme .owl-controls .owl-buttons .owl-next{
	position:absolute;
	right:50px;
	top:124px;
	background:url('./images/arrow-right.png') no-repeat center center;
	background-size: 80px 24px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
#owl-sep-2.owl-theme .owl-controls .owl-buttons .owl-next,
#owl-sep-2.owl-theme .owl-controls .owl-buttons .owl-prev{
	width:80px;
	height:24px;
	z-index:1;
	text-indent: 100%;
}

#owl-sep-2.owl-theme .owl-controls .owl-buttons .owl-prev:hover,
#owl-sep-2.owl-theme .owl-controls .owl-buttons .owl-next:hover{
	transform: scale(0.9);
}


.quote{
	position:relative;
	width:100%;
	margin:0 auto;
	overflow:hidden;
	display:block;
	padding:50px 50px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.quote p{
	text-align:center;
	font-style: italic;
	font-weight:300;
	font-size: 15px;
	line-height:28px;
	letter-spacing:3px;
	color:#646464;
}
.quote h6{
	text-align:center;
	padding-top:30px;
	text-transform:none;
	letter-spacing:2px;
	font-size:16px;
}
.quote .quotes-1{
	position:absolute;
	top:55px;
	left:10px;
	text-align:left;
	font-size:100px; 
	opacity:.07;
	color: #414141;
	font-family: 'FontAwesome';
	font-style: italic;
}
.quote .quotes-2{
	position:absolute;
	bottom:45px;
	right:30px;
	text-align:right;
	font-size:100px; 
	opacity:.07;
	color: #414141;
	font-family: 'FontAwesome';
	font-style: italic;
}


.sep-3-background{
	background-image:url('../images/sep-3.jpg');
	background-size:cover;
	background-position:center center;
	background-repeat:no-repeat;
}
.counters{
	position:relative;
	width:100%;
	margin:0 auto;
	overflow:hidden;
	display:block;
	padding:50px 50px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.counters h6{
	text-align:center;
	font-weight:400;
}
.counters h6 span{	
	font-family: 'FontAwesome';
	padding-right:5px;
    color: #cfa144;
}
.counters p{
	text-align:center;
	font-weight:400;
	font-style: italic;
	padding-top:5px;
	font-size:13px;
	letter-spacing:2px;
}
.counters .coun-num{
	position:absolute;
	font-family: 'Montserrat', sans-serif;
	font-weight:700;
	top:50%;
	left:0;
	width:100%;
	text-align:center;
	font-size:230px; 
	margin-left:-30px;
	opacity:.1;
	color: #414141;
	letter-spacing:-18px;
	font-family: 'FontAwesome';
	font-style: italic;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}



/* #Work
================================================== */

/* #Work Carousel
================================================== */

.slideshow {
	position: relative;
	width: 100vw;
	margin-top:20px;
	margin-bottom:25px;
}

.slide {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column-reverse;
	flex-direction: column-reverse;
	-webkit-align-items: center;
	align-items: center;
	width: 100vw;
	text-align: center;
}

.js .slide {
	position: absolute;
	z-index: 1000;
	top: 0;
	left: 0;
	visibility: hidden;
	pointer-events: none;
}

.slide.slide--current {
	position: relative;
	visibility: visible;
}

.deco--circle {
	position: absolute;
	top: 0;
	border-radius: 50%;
	background: #fff;
	box-shadow: 0 0 25px rgba(44,44,44,0.02);
}

.deco--circle-left {
	right: calc(100% - 140px);
}

.deco--circle-right {
	left: calc(100% - 140px);
}

.deco--circle,
.slide__inner {
	width: 450px;
	height: 450px;
}

.slide__item {
	position: relative;
	width: 100%;
}

.no-js .slide__item {
	display: none;
}

.slide__inner {
	position: relative;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	margin: 0 auto;
	padding: 20px;
	pointer-events: auto;
}

.deco--expander {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -225px 0 0 -225px;
	border-radius: 50%;
	background: #fff;
}

.slide__title {
	position: relative;
	text-indent: 2px;
	letter-spacing: 2px;
	color: #434343;
}

.slide__title--preview {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	line-height:22px;
	font-weight:400;
	text-transform:none;
	padding: 0;
	opacity: 0;
	text-align: center;
}


.slide--current .slide__title--preview {
	opacity: 1;
}

.slide__price {
	font-weight: 700;
	display: inline-block;
	color: #212121;
}


.slide__img {
	position: relative;
	display: block;
	border-radius: 50%;
	margin: 0 auto;
}

.slide__img--small {
	max-height: 85%;
	max-width: 85%;
}

.action {
	font-size: 1.5em;
	line-height: 54px;
	width: 50px;
	height: 50px;
	margin: 0;
	padding: 0;
	text-align: center;
	border: none;
	background: none;
}

.action:focus {
	outline: none;
}

.action--open {
	position: absolute;
	right: 20px;
	bottom: 20px;
	margin: 0 40px 40px 0;
	color: #fff;
	border-radius: 50%;
	background: #cfa144;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.action--open:focus,
.action--open:hover {
	color: #fff;
	background: #cfa144;
	-webkit-transform: scale3d(1.0865, 1.0865, 1);
	transform: scale3d(1.0865, 1.0865, 1);
}

.slide--open .action--open {
	opacity: 0;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	-webkit-transform: scale3d(0.3, 0.3, 1);
	transform: scale3d(0.3, 0.3, 1);
}

.navbutton {
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	width: 100px;
	height: 30px;
	margin: 0;
	margin: -50px 0 0 0;
	padding: 0;
	border: none;
	background: none;
}

.navbutton__line {
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}

.navbutton:focus {
	outline: none;
}

.navbutton:hover .navbutton__line {
	transform: scale(0.9);
	background:transparent;
}

.navbutton--next {
	-webkit-transform: translate3d(220px,-125px,0);
	transform: translate3d(220px,-125px,0);
}

.navbutton--prev {
	-webkit-transform: translate3d(-100%, 0, 0) translate3d(-220px,137px,0);
	transform: translate3d(-100%, 0, 0) translate3d(-220px,137px,0);
} /* +12 of difference */


@media screen and (max-width: 50em) {
	.deco--title {
		right: -50px;
		left: -50px;
	}
	.deco--circle,
	.slide__inner {
		width: 260px;
		height: 260px;
	}
	.deco--expander {
		margin: -130px 0 0 -130px;
	}
	.deco--circle-left {
		right: calc(100% - 50px);
	}
	.deco--circle-right {
		left: calc(100% - 50px);
	}
	.navbutton--next {
		-webkit-transform: translate3d(115px,-90px,0) scale3d(0.5,0.5,1);
		transform: translate3d(115px,-90px,0) scale3d(0.5,0.5,1);
	}
	.navbutton--prev {
		-webkit-transform: translate3d(-100%, 0, 0) translate3d(-115px,115px,0) scale3d(0.5,0.5,1);
		transform: translate3d(-100%, 0, 0) translate3d(-115px,115px,0) scale3d(0.5,0.5,1);
	}
	.action--open {
		right: 0;
		bottom: 0;
	}
}

/* #Portfolio
================================================== */

#projects-grid{
	position:relative;
	text-align:center;
	margin:0 auto;
	width:calc(100% - 20px);
	max-width:1360px;
}
#projects-grid:after {
  content: '';
  display: block;
  clear: both;
}
.portfolio-box-1{
	position:relative;
	float:left;
	width:calc(33.3333333333% - 50px);
	display:inline-block;
	margin-top:25px;
	margin-bottom:25px;
	margin-left:24px;
	margin-right:25px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	overflow:hidden;
	-webkit-transform: translate3d(1px,0,0);
	transform: translate3d(1px,0,0);
	box-shadow: 0 0 25px rgba(44,44,44,0.02);
}
.portfolio-box-1 .mask-1{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	-moz-box-sizing: border-box;
	border:15px solid #fff;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background:rgba(0,0,0,0);
	z-index:2;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear; 
}
.portfolio-box-1 .mask-1.no-border{
	border:none;
}
.portfolio-box-1:hover .mask-1{
	background:rgba(0,0,0,.9);
	cursor: url(./images/cursor-works.png) 30 30, move !important;
}
.portfolio-box-1 h6{
	position:absolute;
	top:50px;
	left:110px;
	color:#fff;
	font-family: 'Montserrat', sans-serif;
	font-weight:700;
	font-size: 22px;
	line-height:26px;
	letter-spacing:-1px;
	text-transform: none;
	z-index:4;
	opacity:0;
	font-style: italic; 
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear; 
}
.portfolio-box-1:hover h6{
	left:50px;
	opacity:1;
}
.portfolio-box-1 p{
	position:absolute;
	top:85px;
	left:110px;
	color:#f7f7f7;
	z-index:4;
	opacity:0;
	font-size:11px;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	line-height:14px;
	text-align:left;	
	letter-spacing:3px;
	text-transform: uppercase;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear; 
}
.portfolio-box-1:hover p{
	left:50px;
	opacity:1;
	-webkit-transition-delay:0.4s;
	transition-delay:0.4s;
}
.portfolio-box-1 img{
	width:100%;
	height:auto;
	display:block;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear; 
}
.portfolio-box-1:hover img{
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}




#portfolio-filter {
	position:relative;
	width:100%;
	text-align: center;
	margin-top:25px;
}
#filter {
	position:relative;
	width:100%;
	text-align: center;
}

#filter li {
	display: inline-block;
	text-align: center;
}
#filter:after {
  content: '';
  display: block;
  clear: both;
}
#filter li a {
	position: relative;
	display: inline-block;
	letter-spacing:3px;
	font-family: 'Open Sans', sans-serif;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 13px; 
	font-style: italic;
	margin-bottom:5px;
	text-align: center;
	outline: none;
	color: #666666;
	margin-left:10px;
	margin-right:10px;
	text-decoration: none;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.isotope-item {
    z-index: 2;
}
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}
.isotope, .isotope .isotope-item {
    -webkit-transition-duration: 0.6s;
       -moz-transition-duration: 0.6s;
            transition-duration: 0.6s;
}
.isotope {
    -webkit-transition-property: height, width;
       -moz-transition-property: height, width;
            transition-property: height, width;
}
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
       -moz-transition-property:    -moz-transform, opacity;
        -ms-transition-property:     -ms-transform, opacity;
         -o-transition-property:         top, left, opacity;
            transition-property:         transform, opacity;
}


/* #Single Projects
================================================== */

.full-img-wrap{
	position:relative;
	width:100%;
}
.full-img-wrap img{
	display:block;
	width:100%;
}
.project-disc{
	position:relative;
	width:100%;
}
.project-disc h6{
	text-align:left;
	padding-bottom:20px;
}
.project-disc p{
	text-align:left;
}
.project-links{
	position:relative;
	width:100%;
	border-top:1px solid rgba(21,21,21,.1);
	display:block;
	overflow:hidden;
}
.project-links:after {
  content: '';
  display: block;
  clear: both;
}
.project-links .link-project-block{
	width:120px;
	display:inline-block;
	color: #414141;
	font-family: 'Montserrat', sans-serif;
	font-weight:700;
	opacity:.2;
	font-size: 50px; 
	line-height:40px;
	letter-spacing:-3px;
	margin-top:30px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.project-links .link-project-block:hover{
	letter-spacing:1px;
}
.project-links .link-project-block.left{
	text-align:left;
	float:left;
}
.project-links .link-project-block.right{
	text-align:right;
	float:right;
}



/* #Logo Carousel
================================================== */

#owl-logo {
	position:relative;
	width:100%;
	margin:0 auto;
	display:block;
}
#owl-logo .item{
	position:relative;
	width:100%;
	margin:0 auto;
	z-index:2;
	display:block;
}
#owl-logo .item img{
	display:block;
	width:70px;
	margin:0 auto;
}

/* #News
================================================== */

.post{
	position:relative;
	width:100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding:25px;
	overflow:hidden;
	box-shadow: 0 0 25px rgba(44,44,44,0.02);
}
.post .tipe{
	position:absolute;
	bottom:10px;
	right:10px;
	text-align:left;
	font-size:40px; 
	opacity:.07;
	color: #414141;
	font-family: 'Montserrat', sans-serif;
	font-weight:700;
	letter-spacing:-2px;
	font-style: italic;	
}
.post img{
	width:100%;
	display:block;
}
.post .subtext{
	text-align:left;
	padding-top:30px;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	font-size: 11px;
	line-height:22px;
	text-transform:uppercase;
	letter-spacing:1px;
	color:#848484;
}
.post .subtext a{
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.post .subtext a:hover{
	color:#323232;
}
.post h6{
	text-align:left;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.post h3{margin-bottom: 0px;margin-top: 10px;}
.post p{
	text-align:left;
	padding-top:20px;
}
.arrow-right-post{
	position:relative;
	margin-top:30px;
	width:50px;
	height:15px;
	display:block;
	background-image:url('./images/arrow-right.svg');
	background-position:center center;
	background-repeat: no-repeat;
	background-size:50px 15px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.arrow-right-post:hover{
	padding-left:15px;
}


#owl-post {
	position:relative;
	width:100%;
	margin:0 auto;
	display:block;
}
#owl-post .item{
	position:relative;
	width:100%;
	margin:0 auto;
	z-index:2;
	display:block;
}
#owl-post .item img{
	display:block;
	width:100%;
	margin:0 auto;
}
#owl-post.owl-theme .owl-controls .owl-buttons .owl-prev{
	position:absolute;
	left:10px;
	top:100%;
	margin-top:-34px;
	background:url('./images/arrow-left.svg') no-repeat center center;
	background-size: 40px 12px;
	background-color:rgba(255,255,255,.7);
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
#owl-post.owl-theme .owl-controls .owl-buttons .owl-next{
	position:absolute;
	right:10px;
	top:10px;
	background:url('./images/arrow-right.svg') no-repeat center center;
	background-size: 40px 12px;
	background-color:rgba(255,255,255,.7);
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
#owl-post.owl-theme .owl-controls .owl-buttons .owl-next,
#owl-post.owl-theme .owl-controls .owl-buttons .owl-prev{
	width:60px;
	height:24px;
	z-index:1;
	text-indent: 100%;
	font-size:0;
}

#owl-post.owl-theme .owl-controls .owl-buttons .owl-prev:hover,
#owl-post.owl-theme .owl-controls .owl-buttons .owl-next:hover{
	background-color:rgba(255,255,255,1);
}

.video-wrapper, figure.vimeo, figure.youtube {
	margin:0;
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 0;
	height: 0;
	overflow: hidden;
}	
.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}	
figure.youtube a img, figure.vimeo a img {
	position: absolute;
	top: 0;
	left: 0;
	width: auto;
	height: 100%;
	max-width:none;
}	
figure.vimeo a:after, figure.youtube a:after {
	content:"";
	width:40px;
	height:40px;
	background:#fff;
	box-shadow: 0 0 10px rgba(44,44,44,0.1);
	z-index:9;
	position:absolute;
	top:50%;
	left:50%;
	margin:-20px 0 0 -20px;
	border-radius:50%;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear; 
}
figure.vimeo:hover a:after, figure.youtube:hover a:after {
	background:#000;
	-webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.1);
}	
figure.vimeo a:before, figure.youtube a:before {
	font-family: 'FontAwesome';
	content:"\f04b";
	width:40px;
	height:40px;
	z-index:10;
	position:absolute;
	color:#000;
	line-height:40px;
	text-align:center;
	font-size:10px;
	top:50%;
	left:50%;
	margin:-19px 0 0 -18px;
	display:block;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear; 
}
figure.vimeo a:hover:before, figure.youtube a:hover:before {
	color:#fff; 
}	
figure.vimeo a:hover img, figure.youtube a:hover img {
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
	-webkit-transform: scale(1.03) rotate(1deg);
	transform: scale(1.03) rotate(1deg);
}	
figure.vimeo a img, figure.youtube a img {
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear; 
	a -webkit-transform: scale(1);
	transform: scale(1);
}



.all-news-link {
	cursor: url(./images/arrow-right.svg) 50 15, move !important;
}
.all-news-link h6{
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear; 
}
.all-news-link:hover h6{
}


.comm-number{
	position:relative;
	width:100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding:25px;
	overflow:hidden;
	box-shadow: 0 0 25px rgba(44,44,44,0.02);
	margin-top:25px;
	margin-bottom:25px;
}
.comm-number:after {
  content: '';
  display: block;
  clear: both;
}
.comm-number p{
	text-align:left;
	text-transform:uppercase;
	letter-spacing:2px;
	font-size:11px;
	line-height:11px;
	font-weight:400;
}
.comm-number p span{
	text-align:right;
	margin-left:10px;
	float:right;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear; 
}
.comm-number p a:hover{
	color:#212121;
}

.content-comm{
	position:relative;
	width:100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding-top:25px;
	padding-left:25px;
	padding-right:25px;
	padding-bottom:36px;
	overflow:hidden;
	box-shadow: 0 0 25px rgba(44,44,44,0.02);
	margin-bottom:5px;
}
.content-comm.sub-comm{
	position:relative;
	width:calc(100% - 50px);
	margin-left:50px;
}
.content-comm:after {
	content: '';
	display: block;
	clear: both;
}
.content-comm img {
	display: block;
	float:left;
	width:100px;
	margin-right:25px;
	margin-bottom:25px;
}
.content-comm p {
	text-align:left;
	padding-bottom:25px;
}
.name-aut-replay{
	position:absolute;
	bottom:25px;
	right:25px;
	text-align:right;
	text-transform:uppercase;
	letter-spacing:2px;
	font-size:11px;
	line-height:11px;
	font-weight:400;	
}
.name-aut-replay a{
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear; 	
}
.name-aut-replay a:hover{
	color:#212121;
}

.comments{
	position:relative;
	width:100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding:25px;
	overflow:hidden;
	box-shadow: 0 0 25px rgba(44,44,44,0.02);
	margin-top:20px;
}
.comments input{
	position:relative;
	width:calc(100% - 40px);
	padding-left:20px;
	padding-right:20px;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	letter-spacing:1px;
	font-size: 13px;
	line-height:24px;
	padding-bottom: 15px;
	background:transparent;
	border:none;
	color: #737373;
	margin-bottom:20px;
	-webkit-transition: border-bottom 0.3s, color 0.3s;
	transition: border-bottom 0.3s, color 0.3s;
}
.comments textarea {
	width:calc(100% - 40px);
	padding-left:20px;
	padding-right:20px;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	letter-spacing:1px;
	font-size: 13px;
	line-height:24px;
	background:transparent;
	height:70px;
	border:none;
	color: #737373;
	margin-bottom:20px;
	-webkit-transition: border-bottom 0.3s, color 0.3s;
	transition: border-bottom 0.3s, color 0.3s;
}
.comments textarea,
.comments input {	
	border-bottom:1px solid rgba(100,100,100,.2);
}
.comments textarea:active,
.comments input:active {	
	color: #101010;
}
.comments textarea:active,
.comments input:hover {	
	color: #101010;
}
.comments textarea:focus,
.comments input:focus {	 
    outline: none !important;
}
.comments input:-ms-input-placeholder  {
	font-size: 11px;
	text-transform:uppercase;
	letter-spacing:2px;
	color:#999999;
}
.comments input::-moz-placeholder  {
	font-size: 11px;
	text-transform:uppercase;
	letter-spacing:2px;
	color:#999999;
}
.comments input:-moz-placeholder  {
	font-size: 11px;
	text-transform:uppercase;
	letter-spacing:2px;
	color:#999999;
}
.comments input::-webkit-input-placeholder  {
	font-size: 11px;
	text-transform:uppercase;
	letter-spacing:2px;
	color:#999999;
}
.comments textarea:-ms-input-placeholder  {
	font-size: 11px;
	text-transform:uppercase;
	letter-spacing:2px;
	color:#999999;
}
.comments textarea::-moz-placeholder  {
	font-size: 11px;
	text-transform:uppercase;
	letter-spacing:2px;
	color:#999999;
}
.comments textarea:-moz-placeholder  {
	font-size: 11px;
	text-transform:uppercase;
	letter-spacing:2px;
	color:#999999;
}
.comments textarea::-webkit-input-placeholder  {
	font-size: 11px;
	text-transform:uppercase;
	letter-spacing:2px;
	color:#999999;
}
.comments .form-submit input {
	background:#efefef;
	color:#212121;
	font-size:14px;
	padding: 13px 30px;
	max-width:140px;
}
.comments .form-submit input:hover {
	color:#fff;
}
.comments .form-submit input:focus,
.comments .form-submit input:active {
	border:none;
	outline:none;
}
.sidebar{
	position:relative;
	width:100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding:25px;
	overflow:hidden;
	box-shadow: 0 0 25px rgba(44,44,44,0.02);
}
.sidebar input, form[role="search"] input{
	width:100%;
	padding-left:20px;
	padding-right:20px;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	letter-spacing:1px;
	font-size: 12px;
	line-height:22px;
	padding-top: 15px;
	padding-bottom: 15px;
	background:#fbfbfb;
	border:none;
	color: #737373;
	-webkit-transition: background 0.3s, color 0.3s;
	transition: background 0.3s, color 0.3s;
}
form[role="search"] input {
    background:#ececec;
}
.sidebar input:active, form[role="search"] input:active {	
	color: #fff;
	outline: none !important;
}
.sidebar input:hover {	
	color: #737373;
	outline: none !important;
}
.sidebar input:focus {
	color: #fff;	 
	outline: none !important;
}

.sidebar input:-ms-input-placeholder  {
	font-size: 10px;
	text-transform:uppercase;
	-webkit-transition:  color 0.3s;
	transition:  color 0.3s;
}
.sidebar input::-moz-placeholder  {
	font-size: 10px;
	text-transform:uppercase;
	-webkit-transition:  color 0.3s;
	transition:  color 0.3s;
}
.sidebar input:-moz-placeholder  {
	font-size: 10px;
	text-transform:uppercase;
	-webkit-transition:  color 0.3s;
	transition:  color 0.3s;
}
.sidebar input::-webkit-input-placeholder  {
	font-size: 10px;
	text-transform:uppercase;
	-webkit-transition:  color 0.3s;
	transition:  color 0.3s;
}
.sidebar input:active:-ms-input-placeholder  {
	color: #fff;
}
.sidebar input:active::-moz-placeholder  {
	color: #fff;
}
.sidebar input:active:-moz-placeholder  {
	color: #fff;
}
.sidebar input:active::-webkit-input-placeholder  {
	color: #fff;
}
.sidebar input:focus:-ms-input-placeholder  {
	color: #fff;
}
.sidebar input:focus::-moz-placeholder  {
	color: #fff;
}
.sidebar input:focus:-moz-placeholder  {
	color: #fff;
}
.sidebar input:focus::-webkit-input-placeholder  {
	color: #fff;
}

.separator-sidebar{ 
	position:relative;
	width:100%;
	padding-top:70px;
}

.sidebar h6{ 
	text-align:left;
	padding-bottom:20px;
}

.link-recents{ 
	position:relative;
	width:100%;
	overflow:hidden;
	text-align:left;
}
.widget_recent_entries a{
	position:relative;
	display:block;
	cursor:pointer;
	font-family: 'Open Sans', sans-serif;
	font-size: 11px;
	line-height:21px;
	text-align:left;
	text-transform:uppercase;
	padding-top:10px;
	padding-bottom:10px;
	border-top:1px solid rgba(0,0,0,.1);
	letter-spacing:1px;
	color:#323232;
	font-weight:400;
	-webkit-transition: padding-left 0.3s, color 0.3s;
	transition: padding-left 0.3s, color 0.3s;
}
.link-recents a:last-child{
	border-bottom:1px solid rgba(0,0,0,.1);
}
.widget_recent_entries a:hover {
	padding-left:10px;
}


.widget_tag_cloud{ 
	position:relative;
	width:100%;
	overflow:hidden;
	text-align:left;
}

.widget_tag_cloud li {
    position: relative;
    display: inline-block;
}

.widget_tag_cloud a {
	position: relative;
	display: inline-block;
	cursor:pointer;
	outline: none;
	text-decoration: none;
	white-space: nowrap;
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
	line-height:21px;
	text-align:left;
	margin-right:3px;
	margin-bottom:3px;
	text-transform:uppercase;
	letter-spacing:2px;
	padding:3px 9px;
	color:#212121;
	font-weight:400;
	background-color:#fbfbfb;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.widget_tag_cloud a:hover {
	color:#fff;
    background-color: #cfa144;
}

/* #Shop
================================================== */

.shop{
	position:relative;
	width:100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding:25px;
	overflow:hidden;
	box-shadow: 0 0 25px rgba(44,44,44,0.02);
}
.shop img{
	width:100%;
	display:block;
}

#owl-shop {
	position:relative;
	width:100%;
	margin:0 auto;
	display:block;
}
#owl-shop .item{
	position:relative;
	width:100%;
	margin:0 auto;
	z-index:2;
	display:block;
	overflow:hidden;
}
#owl-shop .item img{
	display:block;
	width:100%;
	margin:0 auto;
}
#owl-shop .item h6{
	position:absolute;
	top:50%;
	left:0;
	width:100%;
	z-index:10;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	text-align:center;
	font-size:25px;
	letter-spacing:2px;
	font-weight:700;
	opacity:.7;
}
#owl-shop .item h6 span{
	font-size:70px;
	opacity:.3;
	font-weight:700;
	letter-spacing:-2px;
}
#owl-shop.owl-theme .owl-controls .owl-buttons .owl-prev{
	position:absolute;
	left:10px;
	top:100%;
	margin-top:-34px;
	background:url('./images/arrow-left.svg') no-repeat center center;
	background-size: 40px 12px;
	background-color:rgba(255,255,255,.7);
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
#owl-shop.owl-theme .owl-controls .owl-buttons .owl-next{
	position:absolute;
	right:10px;
	top:10px;
	background:url('./images/arrow-right.svg') no-repeat center center;
	background-size: 40px 12px;
	background-color:rgba(255,255,255,.7);
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
#owl-shop.owl-theme .owl-controls .owl-buttons .owl-next,
#owl-shop.owl-theme .owl-controls .owl-buttons .owl-prev{
	width:60px;
	height:24px;
	z-index:1;
	text-indent: 100%;
	font-size:0;
}
#owl-shop.owl-theme .owl-controls .owl-buttons .owl-prev:hover,
#owl-shop.owl-theme .owl-controls .owl-buttons .owl-next:hover{
	background-color:rgba(255,255,255,1);
}
#owl-shop.owl-theme .owl-controls {
	opacity:0;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
#owl-shop.owl-theme:hover .owl-controls {
	opacity:1;
}

#owl-shop-items {
	position:relative;
	width:100%;
	max-width:1320px;
	margin:0 auto;
	display:block;
	margin-bottom:25px;
	margin-top:25px;
}
#owl-shop-items .item{
	position:relative;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin-left:25px;
	margin-right:25px;
	z-index:2;
	display:block;
}
#owl-shop-items.owl-theme .owl-controls .owl-buttons .owl-prev{
	position:absolute;
	left:-15px;
	top:100%;
	margin-top:-124px;
	background:url('./images/arrow-left.svg') no-repeat center center;
	background-size: 60px 18px;
	background-color:rgba(255,255,255,.95);
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
#owl-shop-items.owl-theme .owl-controls .owl-buttons .owl-next{
	position:absolute;
	right:-15px;
	top:15px;
	background:url('./images/arrow-right.svg') no-repeat center center;
	background-size: 60px 18px;
	background-color:rgba(255,255,255,.95);
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
#owl-shop-items.owl-theme .owl-controls .owl-buttons .owl-next,
#owl-shop-items.owl-theme .owl-controls .owl-buttons .owl-prev{
	width:80px;
	height:38px;
	z-index:1;
	text-indent: 100%;
	font-size:0;
	box-shadow: 0 0 25px rgba(44,44,44,0.1);
}
#owl-shop-items.owl-theme .owl-controls .owl-buttons .owl-prev:hover,
#owl-shop-items.owl-theme .owl-controls .owl-buttons .owl-next:hover{
	transform: scale(0.9);
}

.shop-item{
	position:relative;
	width:100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding:25px;
	box-shadow: 0 0 25px rgba(44,44,44,0.02);
}
.shop-item img{
	display:block;
	width:100%;
}
.shop-item p{
	padding-top:25px;
	text-align:left;
	color:#646464;
	text-transform:uppercase;
	font-size:10px;
	letter-spacing:2px;
}
.shop-item h6{
	text-align:left;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.shop-item .price{
	position:absolute;
	bottom:25px;
	right:25px;
	z-index:3;
	font-family: 'Montserrat', sans-serif;
	text-align:right;
	font-weight:400;
	font-size: 16px;
	line-height: 16px;
}
.shop-item .price span{
	color:#414141;
	opacity:.3;
	text-decoration: line-through;
	margin-right:10px;
}

.shop-item .link-items{
	position:absolute;
	top:70%;
	margin-top:-155px;
	left:50%;
	z-index:5;
	padding-top:2px;
	padding-bottom:2px;
	padding-left:1px;
	padding-right:1px;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	opacity:0;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.shop-item:hover .link-items{
	opacity:1;
	top:100%;
}
.shop-item .link-items:after {
  content: '';
  display: block;
  clear: both;
}
.shop-item  .link-items a{
	display:inline-block;
	font-family: 'FontAwesome';
	float:left;
	width:40px;
	height:40px;
	text-align:center;
	line-height:40px;
	margin-left:1px;
	margin-right:1px;
	font-size:13px;
	background-color:#fff;
	color:#414141;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.shop-item  .link-items a:hover{
	color:#fff;
}

.shop-item .hot{
	position:absolute;
	top:-25px;
	right:-25px;
	z-index:5;
	font-family: 'Montserrat', sans-serif;
	text-align:center;
	font-weight:400;
	font-size: 10px;
	line-height: 50px;
	color:#fff;
	width:50px;
	height:50px;
	border-radius:50%;
}

.sin-shop-item{
	position:relative;
	width:100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding:25px;
	box-shadow: 0 0 25px rgba(44,44,44,0.02);
}
.sin-shop-item:after {
  content: '';
  display: block;
  clear: both;
}
.sin-shop-item .item-slider-wrap{
	position:relative;
	width:100%;
	display:block;
}
.sin-shop-item .item-text-wrap{
	position:relative;
	width:100%;
	display:block;
	margin-top:25px;
}
#owl-item-sin {
	position:relative;
	width:100%;
	margin:0 auto;
	display:block;
}
#owl-item-sin .item{
	position:relative;
	z-index:2;
	display:block;
}
#owl-item-sin .item img{
	width:100%;
	display:block;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
#owl-item-sin .item img:hover{
	opacity:.5;
}

.sin-shop-item .item-text-wrap .small-top-text{
	text-align:left;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	letter-spacing:2px;
	font-size: 11px;
	line-height:22px;
	color:#828282;
	text-transform:uppercase;
}
.sin-shop-item .item-text-wrap h5{
	text-align:left;
	padding-bottom:20px;
}
.sin-shop-item .item-text-wrap h3{
	text-align:left;
	padding-bottom:20px;
	font-weight:400;
}
.sin-shop-item .item-text-wrap h3 span{
	opacity:.3;
	color:#414141;
	text-decoration: line-through;
	padding-right:15px;
	font-size:18px;
	
}
.sin-shop-item .item-text-wrap p{
	text-align:left;
	padding-bottom:20px;
}
.sin-shop-item .item-text-wrap .button{
	text-align:center;
	width:90px;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	letter-spacing:2px;
	font-size: 11px;
	line-height:11px;
	color:#fff;
	padding-top:15px;
	padding-bottom:15px;
	text-transform:uppercase;
	background-color:#313131;
	display:block;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}

/* #Contact
================================================== */


#ajax-form {
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
	line-height:14px;
	color:#101010;
	margin:0 auto;
}
#ajax-form label {
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height:30px;
}
#ajax-form input{
	position:relative;
	width:calc(100% - 40px);
	padding-left:20px;
	padding-right:20px;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	letter-spacing:1px;
	font-size: 13px;
	line-height:24px;
	padding-bottom: 15px;
	background:transparent;
	border:none;
	color: #737373;
	-webkit-transition: border-bottom 0.3s, color 0.3s;
	transition: border-bottom 0.3s, color 0.3s;
}
#ajax-form textarea {
	width:calc(100% - 40px);
	padding-left:20px;
	padding-right:20px;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	letter-spacing:1px;
	font-size: 13px;
	line-height:24px;
	background:transparent;
	height:70px;
	border:none;
	color: #737373;
	-webkit-transition: border-bottom 0.3s, color 0.3s;
	transition: border-bottom 0.3s, color 0.3s;
}
#ajax-form textarea,
#ajax-form input {	
	border-bottom:1px solid rgba(100,100,100,.2);
}
.error {
	font: 11px/22px 'Open Sans', sans-serif;
	text-transform:uppercase;
	letter-spacing:1px;
	display: none;
	color:#636363;
}
#ajaxsuccess {
	background: #f2f2f2;
	color:#101010;
	font: 20px/60px 'Open Sans', sans-serif;
	height:60px;
	display: none;
	padding-left:10px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}
.text-align-center{
	text-align:center;
	padding-top:10px;
 }
#ajax-form textarea:active,
#ajax-form input:active {	
	color: #101010;
}
#ajax-form textarea:active,
#ajax-form input:hover {	
	color: #101010;
}
#ajax-form textarea:focus,
#ajax-form input:focus {	 
    outline: none !important;
}
#ajax-form input:-ms-input-placeholder  {
	font-size: 11px;
	text-transform:uppercase;
	letter-spacing:2px;
	color:#999999;
}
#ajax-form input::-moz-placeholder  {
	font-size: 11px;
	text-transform:uppercase;
	letter-spacing:2px;
	color:#999999;
}
#ajax-form input:-moz-placeholder  {
	font-size: 11px;
	text-transform:uppercase;
	letter-spacing:2px;
	color:#999999;
}
#ajax-form input::-webkit-input-placeholder  {
	font-size: 11px;
	text-transform:uppercase;
	letter-spacing:2px;
	color:#999999;
}
#ajax-form textarea:-ms-input-placeholder  {
	font-size: 11px;
	text-transform:uppercase;
	letter-spacing:2px;
	color:#999999;
}
#ajax-form textarea::-moz-placeholder  {
	font-size: 11px;
	text-transform:uppercase;
	letter-spacing:2px;
	color:#999999;
}
#ajax-form textarea:-moz-placeholder  {
	font-size: 11px;
	text-transform:uppercase;
	letter-spacing:2px;
	color:#999999;
}
#ajax-form textarea::-webkit-input-placeholder  {
	font-size: 11px;
	text-transform:uppercase;
	letter-spacing:2px;
	color:#999999;
}
#ajax-form button {
	background:#efefef;
	color:#212121;
	font-size:14px;
	padding: 13px 30px;
	max-width:140px;
}
#ajax-form button:hover {
	color:#fff;
}
#ajax-form button:focus,
#ajax-form button:active {
	border:none;
	outline:none;
}
#ajax-form button{
}
#ajax-form textarea:focus,
#ajax-form input:focus,
#ajax-form textarea:active,
#ajax-form input:active {	
}


.button-effect {
	min-width: 150px;
	max-width: 200px;
	display: block;
	margin: 0 auto;
	border: none;
	background: none;
	color: inherit;
	vertical-align: middle;
	cursor:pointer;
	position: relative;
	z-index: 1;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
}
.button-effect:focus {
	outline: none;
}
.button-effect > span {
	vertical-align: middle;
}
.button--moema {
	padding: 16px 30px;
	border-radius: 50px;
	text-align:center;
	background:#fff;
	letter-spacing:2px;
	color: #000;
	-webkit-transition: background-color 0.3s, color 0.3s;
	transition: background-color 0.3s, color 0.3s;
}
.button--moema::before {
	content: '';
	position: absolute;
	top: -20px;
	left: -20px;
	bottom: -20px;
	right: -20px;
	background: inherit;
	border-radius: 50px;
	z-index: -1;
	opacity: 0.4;
	-webkit-transform: scale3d(0.8, 0.5, 1);
	transform: scale3d(0.8, 0.5, 1);
}
.button--moema:hover {
	-webkit-transition: background-color 0.3s 0s, color 0.3s 0s;
	transition: background-color 0.3s 0s, color 0.3s 0s;
	color:#fff;
	-webkit-animation: anim-moema-1 0.6s forwards;
	animation: anim-moema-1 0.6s forwards;
}
.button--moema:hover::before {
	-webkit-animation: anim-moema-2 0.6s 0.5s forwards;
	animation: anim-moema-2 0.6s 0.5s forwards;
}
@-webkit-keyframes anim-moema-1 {
	60% {
		-webkit-transform: scale3d(0.8, 0.8, 1);
		transform: scale3d(0.8, 0.8, 1);
	}
	85% {
		-webkit-transform: scale3d(1.2, 1.2, 1);
		transform: scale3d(1.2, 1.2, 1);
	}
	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}
@keyframes anim-moema-1 {
	60% {
		-webkit-transform: scale3d(0.8, 0.8, 1);
		transform: scale3d(0.8, 0.8, 1);
	}
	85% {
		-webkit-transform: scale3d(1.2, 1.2, 1);
		transform: scale3d(1.2, 1.2, 1);
	}
	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}
@-webkit-keyframes anim-moema-2 {
	to {
		opacity: 0;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}
@keyframes anim-moema-2 {
	to {
		opacity: 0;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}


.con-details{
	position: relative;
	width: 100%;
}
.con-details h6,
.con-details p{
	text-align:center;
}
.con-details h6{
	padding-top:20px;
}
.con-details p{
	padding-top:10px;
	letter-spacing:1px;
}
.con-details .icon{
	font-family: 'FontAwesome';
	margin:0 auto;
	width:70px;
	height:70px;
	line-height:72px;
	font-size:16px;
	text-align:center;
	border-radius:50%;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear; 
    border: 1px solid #cfa144;
    color: #cfa144;
}
.con-details:hover .icon{
	color:#fff;
    background-color: #cfa144;
}

/* Add */

.section-title h2:before {
    background-color: #cfa144;
}
.post .subtext a{
    color: #cfa144;
}
.post h6:hover {
    color: #cfa144;
}
.page-numbers {
    display: none;
}
.next.page-numbers {
    display: block;
}
.prev.page-numbers {
    display: block;
}

.video-wrapper, figure.vimeo, figure.youtube {
    padding-bottom: 56.18%;
}

.widget_search input:focus {
    background-color: #cfa144;
}
ol.comment-list, ol.children {
    list-style: none;
    margin-left: 0;
}

ol.children {
    margin-left: 50px;
}

.comment-body {
    position:relative;
    width:100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-top:25px;
    padding-left:25px;
    padding-right:25px;
    padding-bottom:36px;
    overflow:hidden;
    box-shadow: 0 0 25px rgba(44,44,44,0.02);
    margin-bottom:5px;
    background-color: #fff
}
.comment-content p{
    text-align: left;
    padding-bottom: 25px;
}
.comment-author img {
    display: block;
    float: left;
    width: 100px;
    margin-right: 25px;
    margin-bottom: 25px;
}
.reply {
    position: absolute;
    right: 30px;
}
.form-submit{
    text-align: center;
}
.form-submit input {
    background: #efefef;
    color: #212121;
    font-size: 14px;
    padding: 13px 30px;
    max-width: 140px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: normal;
}
.logged-in-as {
    padding-left: 20px;
    margin-bottom: 30px;
}
.row {
    margin-bottom: 0;
}
#sync2 .synced .item h6 {
    color: #cfa144;
}
#sync2 .item h6:hover {
    color: #cfa144;
}
.section-title h4:before {
    background-color: #cfa144;
}
.footer-social li {
    display: inline-block;
}
.footer-social li a i {
    width: 20px;
    height: 20px;
    font-size: 16px;
    color: #fff;
}
.team-box-1 ul li a.social-icon i.icons{
    font-family: 'FontAwesome';
    width:20px;
    height:20px;
    line-height:20px;
    font-size:16px;
    text-align:center;
    color:#fff;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear; 
}
#filter li .current, #filter li a:hover {
    color: #cfa144;
}
.wpcf7-form input, .wpcf7-form button{
    position:relative;
    width:calc(100% - 40px);
    padding-left:20px;
    padding-right:20px;
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
    letter-spacing:1px;
    font-size: 13px;
    line-height:24px;
    padding-bottom: 15px;
    background:transparent;
    border:none;
    color: #737373;
    -webkit-transition: border-bottom 0.3s, color 0.3s;
    transition: border-bottom 0.3s, color 0.3s;
}
.wpcf7-form textarea {
    width:calc(100% - 40px);
    padding-left:20px;
    padding-right:20px;
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
    letter-spacing:1px;
    font-size: 13px;
    line-height:24px;
    background:transparent;
    height:70px;
    border:none;
    color: #737373;
    -webkit-transition: border-bottom 0.3s, color 0.3s;
    transition: border-bottom 0.3s, color 0.3s;
}
div.wpcf7-response-output{
    max-width: 1200px;
    margin: 0 auto;
}
.wpcf7-form textarea, .wpcf7-form input,
.wpcf7-form button {  
    border-bottom:1px solid rgba(100,100,100,.2);
}
.wpcf7-form button:focus, .wpcf7-form textarea:focus{
    outline: none;
}
.wpcf7-form button#send {
    background:#efefef;
    color:#212121;
    font-size:14px;
    padding: 13px 30px;
    max-width:140px;
    margin-top: 0;
    letter-spacing: 2px;
    -webkit-transition: background-color 0.3s, color 0.3s;
    transition: background-color 0.3s, color 0.3s;\
    display: block;
    border: none;
    cursor: pointer;
    position: relative;
    line-height: normal;
    widows: 100%;
}
.wpcf7-form button#send:hover {
    color:#fff;
    background-color: #cfa144;
}
.wpcf7-form button#send:focus,
.wpcf7-form button#send:active {
    border:none;
    outline:none;
}
.wpcf7-form button:focus, .wpcf7-form textarea:focus {
    border-bottom-color: #cfa144;
}
.wpcf7-form #button-con {
    text-align: center;
}
#cd-zoom-in, #cd-zoom-out {
    background-color: #cfa144;
}
.comments textarea:focus, .comments input:focus {
    border-bottom-color: #cfa144;
}
video#video_background {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 2;
    overflow: hidden;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
#video-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    overflow: hidden;
}
#poster_background {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
}
.parallax-home {
    background: repeat fixed;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
}
.comment-metadata a{
    color: #cfa144;
}
.reply a{
    color: #cfa144;
}
.reply a:hover {
    color: #434343;
}
a#cancel-comment-reply-link {
    color: #cfa144;
}
.comment-metadata a {
    display: block;
    margin-bottom: 8px;
}
.edit-link {
    display: none;
}
.fn {
    display: block;
    margin-bottom: 10px;
}
.reply {
    position: absolute;
    right: 25px;
    top: 25px;
}
span.says {
    display: none;
}
.comments-area ol.comment-list .reply a {
    
    padding: 3px 10px;
    text-transform: uppercase;
    font-weight: 400;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.comment-edit-link {
    margin-left: 20px;
}
.section {
  position: relative; 
  margin: 0 auto;
  width: 100%;
  overflow:hidden;
  z-index:2;
}
.hero-top p, .hero-top h2 {
    text-align: center;
}
.hero-top .error-page {
    opacity: 0.6;
}
.hero-top .error-page h1{
    margin-bottom: 20px;
    color: #000;
}
.hero-top .error-page p{ 
    letter-spacing: normal;
    margin-bottom: 20px;
}
.hero-top .page-content p{
    color: #000;
    font-weight: 400;
}
.page-404 {
    background-image:url('./images/3.jpg');
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
    width: 100%;
    height: 100vh
}
.page-404 .button-effect {
    color: #cfa144;
    font-weight: 600;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.page-404 .button-effect:hover {
    background-color: #cfa144;
    color: #fff;
}
.mb_YTVPBar {
    transition: opacity 1s;
    width: 280px;
    height: 38px;
    padding: 0px;
    position: absolute;
    bottom: 60px;
    right: 10%;
    box-sizing: padding-box;
    text-align: left;
    z-index: 1000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 24px;
    opacity: .8;
    display: block;
    background: rgba(5,5,5,.9);
    color: #cfa144;
}
.mb_YTVPBar:hover{
  background:rgba(5,5,5,1);
}
.mb_YTVPBar .buttonBar{
  transition: all 1s;
  font-family: 'Open Sans', sans-serif;
  font-weight:600;
  font-size: 13px;
  line-height:24px;
  position:absolute;
  top:0px;
  left:0;
  padding: 5px;
  width:100%;
  box-sizing: border-box;
}

.mb_YTVPBar span{
  display:inline-block;
  font-family: 'Open Sans', sans-serif;
  font-weight:600;
  font-size: 13px;
  line-height:24px;
  position:relative;
  width: 30px;
  height: 25px;
  vertical-align: middle;
}

.mb_YTVPBar span.mb_YTVPTime {
  margin-left: 70px;
  text-align: right;
  width: 100px;
}

.mb_YTVPBar span.mb_YTVPUrl,.mb_YTVPBar span.mb_OnlyYT {
  position: absolute;
  width: auto;
  display:block;
  top:6px;
  right:20px;
  cursor: pointer;
}

.mb_YTVPBar span.mb_YTVPUrl img{
  width: 60px;
}

.mb_YTVPBar span.mb_OnlyYT {
  left:185px;
  right: auto;
}

.mb_YTVPBar span.mb_OnlyYT img{
  width: 25px;
}

.mb_YTVPBar span.mb_YTVPUrl a{
  color:white;
}

.mb_YTVPPlaypause,.mb_YTVPlayer .mb_YTVPPlaypause img{
  cursor:pointer;
  margin-left: 20px;
}

.mb_YTVPMuteUnmute{
  cursor:pointer;
}

/*PROGRESS BAR*/
.mb_YTVPProgress{
  height:4px;
  width:100%;
  background:#111;
  bottom:0px;
  left:0;
}

.mb_YTVPLoaded{
  height:4px;
  width:0;
  background:#555;
  left:0;
}

.mb_YTVTime{
  height:4px;
  width:0;
  bottom:0;
  left:0;
}

.YTPOverlay{
  /*box-shadow: inset 0 0 5px rgba(0,0,0,.5);*/
}

.YouTube_play, .YouTube_pause, .YouTube_mute, .YouTube_unmute {
  width: 12px;
  height: 11px;
  background-repeat: no-repeat;
  background-position: center center; 
}

.YouTube_play {background-image: url("images/icon-play.png");}
.YouTube_pause {background-image: url("images/icon-pause.png");}
.YouTube_mute {background-image: url("images/icon-mute.png");}
.YouTube_unmute {background-image: url("images/icon-volume-up.png");}

#homeYouTube {
  z-index:100;
}

#google-container {
	position: relative;
	width: 100%;
    height:400px;
}
#cd-google-map {
	position: relative;
}
#cd-google-map address {
	position: absolute;
	bottom: 15px;
	left: 0;
	width:100%;
	background-color: transparent;
	font-family: 'Montserrat', sans-serif;
	font-weight:700;
	text-align:center;
	font-size: 100px;
	line-height:23px;
	letter-spacing:-11px;
	color:#161616;
	opacity:.8;
	font-style: italic;
}

#cd-zoom-in, #cd-zoom-out {
	height: 32px;
	width: 32px;
	cursor: pointer;
	margin-left: 10px;
	background-repeat: no-repeat;
	background-size: 32px 64px;
	opacity:.7;
	background-image: url("./images/cd-icon-controller.svg");
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.no-touch #cd-zoom-in:hover, .no-touch #cd-zoom-out:hover {
	opacity:1;
}
#cd-zoom-in:hover, #cd-zoom-out:hover {
	opacity:1;
}
@media only screen and (min-width: 768px) {
  #cd-zoom-in, #cd-zoom-out {
    margin-left: 50px;
  }
}
#cd-zoom-in {
	background-position: 50% 0;
	margin-top: 280px;
	margin-bottom: 1px;
}
#cd-zoom-out {
	background-position: 50% -32px;
}


/* #footer
================================================== */

.footer{
	position:relative;
	margin:0 auto;
	text-align:center;
	width:100%;
}
.logo-footer-background{
	background-image:url('./images/logo-footer.png');
	background-repeat: no-repeat;
	background-position:center center;
	background-size: 441px 80px;
}
.footer a.social-icon{
	display:inline-block;
	margin-left:2px;
	margin-right:2px;
	padding:5px 5px;
	border-radius:3px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear; 
} 
.footer a.social-icon .icons{
	font-family: 'FontAwesome';
	width:20px;
	height:20px;
	line-height:20px;
	font-size:16px;
	text-align:center;
	color:#fff;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear; 
}
.footer a.social-icon:hover .icons.twitter{
	color:#55acef;
}
.footer a.social-icon:hover .icons.dribbble{
	color:#fe0084;
}
.footer a.social-icon:hover .icons.facebook{
	color:#3b5998;
}
.footer a.social-icon:hover .icons.linkedin{
	color:#007bb5;
}
.footer a.social-icon:hover .icons.vimeo{
	color:#aad450;
}
 
.footer-down{
	position:relative;
	margin:0 auto;
	text-align:center;
	width:100%;
}
.footer-down p{
	text-align:center;
	color:#f7f7f7;
	font-size:11px;
	letter-spacing:2px;
}
.footer-down p span{
	font-family: 'FontAwesome';
	padding-left:3px;
	padding-right:3px;
}
.footer-down p i {
	margin-left:3px;
	margin-right:3px;
}  
 
/* #Media Queries
================================================== */
@media only screen and (max-width: 1200px) {
    .logo img{
    	width:80px;
    	height:15px;
    	left:10px;
    	top:30px;
    	background: no-repeat center center;
    }
    .cbp-af-header.cbp-af-header-shrink .logo img{
    	width:80px;
    	height:15px;
    	left:10px;
    	top:30px;
    	background: no-repeat center center;
    	-webkit-transition : all 0.5s ease-out;
    	-moz-transition : all 0.5s ease-out;
    	-o-transition :all 0.5s ease-out;
    	transition : all 0.5s ease-out;
    }
    .cbp-af-header.cbp-af-header-shrink ul.slimmenu li a {
        border-bottom:none;
    }
    .cbp-af-header.cbp-af-header-shrink ul.slimmenu li a:hover {
        border-bottom:none;
    	background:none;
    }
    .cbp-af-header.cbp-af-header-shrink ul.slimmenu li {
    	background:none;
    }
    ul.slimmenu li a: {
        border-bottom:none;
    }
    ul.slimmenu li a:hover {
        border:none;
    	background:none;
    }
    ul.slimmenu li {
    	background:none;
    }
    ul.slimmenu li > ul {
        width: 100%;
    	text-align:right;
    }
    #cd-google-map address {
    	bottom: 5px;
    	font-size: 60px;
    	letter-spacing:-6px;
    }		
}

@media only screen and (max-width: 1000px) {
    .hero-text h5{
    	font-size:50px; 
    	line-height:30px;
    } 
    .hero-text h5 span{
    	font-size:80px; 
    	letter-spacing:-5px;
    } 
    .hero-text p{
    	letter-spacing:2px;
    }
    .portfolio-box-1{
    	width:calc(50% - 50px);
    } 
}

@media only screen and (max-width: 800px) {
    .section-title .shadow-title{
    	top:30px;
    	font-size: 40px;
    	letter-spacing:-1px;
    }
    #royal_preloader.royal_preloader_text .royal_preloader_loader {
        letter-spacing: -2px;
        font-size: 30px;
    }
    #cd-google-map address {
    	bottom: 0;
    	font-size: 30px;
    	letter-spacing:-3px;
    }
    .content-comm img {
    	display:none;
    }
    .comment-author img {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .hero-text h5{
    	font-size:40px; 
    	line-height:25px;
    } 
    .hero-text h5 span{
    	font-size:60px; 
    	letter-spacing:-2px;
    } 
    .portfolio-box-1{
    	width:calc(100% - 50px);
    	margin-top:25px;
    	margin-bottom:25px;
    	margin-left:24px;
    	margin-right:25px;
    } 
}

/*-----------------------------------------------------------------------------------*/
/*  STYLES WIDGET
/*-----------------------------------------------------------------------------------*/ 
  /* Calendar Widget */
  .widget_calendar table,
  .widget_calendar td {
    border: 0;
    border-collapse: separate;
    border-spacing: 1px;
  }

  .widget_calendar caption {
    font-size: 14px;
    margin: 0;
  }

  .widget_calendar th,
  .widget_calendar td {
    padding: 0;
    text-align: center;
  }

  .widget_calendar a {
    display: block;
  }

  .widget_calendar a:hover {
    background-color: rgba(0, 0, 0, 0.15);
  }

  .widget_calendar tbody td {
    background-color: rgba(255, 255, 255, 0.5);
  }

  .site-footer .widget_calendar tbody td {
    background-color: rgba(255, 255, 255, 0.05);
  }

  .widget_calendar tbody .pad, .site-footer .widget_calendar tbody .pad {
    background-color: transparent;
  }

  .widget select {max-width: 100%;padding: 5px;border: 1px solid #ccc; width: 100%;}
  .widget_text .textwidget img{max-width: 100%;height: auto;}
  .widget_text select, .widget_text input , .widget_text textarea  {max-width: 100%;padding: 5px;border: 1px solid #ccc; width: 100%;}
  .widget_text option {max-width: 100%;}
  .widget_archive ul li {margin-bottom: 10px;}
  .widget_nav_menu ul li, .widget_pages ul li { 
    color: #827b7d;
    line-height: 20px;
    margin-bottom: 10px;
  }
  .widget_nav_menu ul ul, .widget_pages ul ul {padding-top: 10px;}
  .widget_nav_menu ul li ul, .widget_pages ul li ul {float: none;margin-left: 40px;}
  .widget_nav_menu ul li a, .widget_pages ul li a{color: #827b7d;}
  .widget_nav_menu ul li a:hover, .widget_pages ul li a:hover {color: #f86e4e;} 
  .widget_recent_comments ul li {margin-bottom: 10px;}
  .text-post ul, .content-page ul {padding-left: 20px;list-style: disc outside none; }
  .text-post ul li, .content-page ul li {list-style: disc outside none; }
  .text-post ol, .content-page ol {padding-left: 20px;list-style: decimal outside none; }
  .text-post ol  li, .content-page ol li {list-style: decimal outside none;}
  .magnis-widget select {width: 100%; max-width: 100%; padding: 4px;}
  .widget_nav_menu ul ul {margin-left: 25px;margin-top: 0px;}
  .widget_rss ul li {margin-bottom: 25px;}
  .widget_rss ul li a.rsswidget {display: block;color: #111;font-weight: bold;}
  .widget_rss ul li a.rsswidget:hover {color: #cfa144;}
  .rssSummary {line-height: 24px;}
  .rss-date {font-style: italic;display: block;margin: 10px 0px; }  
  .page-content ul{padding-left: 40px;}
  .page-content ul, .page-content ol {float: none;margin-top: 0;list-style: inherit;}
  .page-content ul li, .de_light .page-content ul li {
    list-style: inherit;
    line-height: 28px;
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
    border: none !important;
  }
  blockquote cite, p cite {color: #fff;}
  .page-content ol li {line-height: 28px;list-style: decimal;margin-bottom: 0px !important;padding-bottom: 0px !important;border: none !important;}
  .page-content ol ol, .page-content ul ul {margin-bottom: 0px;padding-bottom: 0px;}
  .page-content h6 {color: #fff;}.page-content h1 {text-align: left;}
  .widget_categories ul ul.children, .widget_pages ul ul.children {padding-left: 20px;}
  .widget_categories ul ul.children li:last-child, .widget_pages ul ul.children li:last-child {margin-bottom: 0px;}
  .page .leave-reply {margin-left: 0px;}
  /* Sticky post */
  .sticky .post-text.post-text-no-image {background: none repeat scroll 0 0 #ddd;padding: 20px;}
  .sticky.post-item .post-item-body .meta {margin-top: 0px !important;padding: 10px 15px;background: #ececec;}
  .sticky.post-item .post-item-body .meta p {margin-right: 20px;margin-top: 0px;}

   /* Pagination Comment */  
   .nav-links .nav-previous {float: left;}
   .navigation.comment-navigation .nav-next, .nav-links .nav-next {float: right;}
   .navigation.comment-navigation .nav-next:before, .nav-links .nav-next:before {
        color: #fff;
        content: "";
        cursor: pointer;
        font-family: "FontAwesome";
        font-size: 1px;
        padding: 0px;
    }
    .widget_archive ul li, .widget_categories ul li, 
    .widget_meta ul li, .widget_recent_comments ul li{border-top:1px solid rgba(0,0,0,.1);padding-top:10px;padding-bottom:10px;margin-bottom: 0px;}
    .widget_archive ul li a, .widget_categories ul li a, 
    .widget_meta ul li a, .widget_recent_comments ul li a{
        position:relative;
        display:inline-block;
        cursor:pointer;
        font-family: 'Open Sans', sans-serif;
        font-size: 11px;
        line-height:21px;
        text-align:left;
        text-transform:uppercase;            
        letter-spacing:1px;
        color:#323232;
        font-weight:400;
        -webkit-transition: padding-left 0.3s, color 0.3s;
        transition: padding-left 0.3s, color 0.3s;
    }    
    .widget_archive ul li:hover a, .widget_categories ul li:hover a, 
    .widget_meta ul li:hover a {
        padding-left:10px;
        color: #cfa144;
    }
    .widget_recent_comments ul li a:hover {
        color: #cfa144;
    }
/**** End STYLE CSS For WIDGET ****/ 